@*<footer class="footer">
    <div class="container-fluid d-flex justify-content-center fixed>
        <div>
            Distributed by
            <a target="_blank" href="https://themewagon.com/">Phan Văn Hưng 2024</a>.
        </div>
    </div>
</footer>*@

