@{
    ViewBag.Title = "ThongKe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Thống kê</h2>

<div class="row">
    <div class="col-md-6 text-center">
        <h5>Nhân viên theo giới tính</h5>
        <div id="chart1"></div>
    </div>
    <div class="col-md-6 text-center">
        <h5>Thống kê số lượng</h5>
        <div id="chart2"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    // Biểu đồ thống kê số lượng nhân viên theo giới tính
    var options1 = {
        chart: {
            type: 'pie'
        },
        series: [@ViewBag.SLNVNam, @ViewBag.SLNVNu],
        labels: ['Nam', 'Nữ'],
        colors: ['#FF6384', '#36A2EB']
    };

    var chart1 = new ApexCharts(document.querySelector("#chart1"), options1);
    chart1.render();

    // Biểu đồ thống kê số lượng nhân viên, phòng ban, và hợp đồng
    var options2 = {
        chart: {
            type: 'bar'
        },
        series: [{
            name: 'Số lượng',
            data: [@ViewBag.SLNV, @ViewBag.SLPB, @ViewBag.SLHD]
        }],
        xaxis: {
            categories: ['Nhân viên', 'Phòng ban', 'Hợp đồng']
        },
        colors: ['#FF6384', '#36A2EB', '#1916EB']
    };

    var chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
    chart2.render();
</script>
